.b-clubs-menu .clubs .b-club, .b-clubs .b-club {
    position: relative;
    background: rgba(255, 255, 255, .5);
    border: 1px solid #ddd;
    border-radius: 4px;
}

.b-clubs-menu .clubs .b-club::before, .b-clubs .b-club::before {
    content: '';
    display: block;
    height: 0;
  	padding-bottom: 50%;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    opacity: .8;
}

.b-club .name-logo::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(25% - 32px);
    right: 0;
    left: 0;
    width: 64px;
    height: 64px;
    margin: auto;
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 50%;
}

.b-club .logo {
    display: none;
}

.b-club .name, .b-club .info {
    padding: 16px;
}

.b-club .name {
    margin: auto;
    color: #444;
    line-height: 20px;
}

.b-club .name-logo::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.b-club .info {
    margin-top: -32px;
    font-size: 12px;
    line-height: 16px;
}

.b-clubs-menu .clubs .b-club:after, .b-clubs .b-club:after {
    clear: left;
    display: block;
    content: ' ';
}

.b-clubs-menu .clubs .b-club:hover .name-logo::after, .b-clubs .b-club:hover .name-logo::after {
	display: block;
  	content: '';
  	position: absolute;
  	top: -5%;
  	left: -5%;
  	width: 110%;
  	height: 0;
  	padding-bottom: calc(50% + 20px);
  	background-size: cover;
  	animation: exp 0.4s;
  	z-index: 10;
  	border-radius: 4px;
}

@keyframes exp {
  from {
    width: 100%;
    height: 0;
    top: 0%;
    left: 0;
  	padding-bottom: 50%;
  }
}



/* Виви */
.b-clubs-menu .clubs .b-club[id='2950']::before,
.b-clubs .b-club[id='2950']::before,
.b-club.c-2950::before
{
    background-image: url(https://i.imgur.com/yOuKWk2.jpeg);
}
.b-club[id='2950'] .name-logo::before, .b-club.c-2950 .name-logo::before  {
    background-image: url(https://shikimori.one/system/clubs/main/2950.png);
}
.b-clubs-menu .clubs .b-club[id='2950']:hover .name-logo::after,
.b-clubs .b-club[id='2950']:hover .name-logo::after,
.b-club.c-2950:hover .name-logo::after
{
    background-image: url(https://i.imgur.com/3UOMyYB.jpeg);
}

/* Соусы */
.b-clubs-menu .clubs .b-club[id='3002']::before,
.b-clubs .b-club[id='3002']::before,
.b-club.c-3002::before
{
    background-image: url(https://i.imgur.com/a93FMa9.jpeg);
}
.b-club[id='3002'] .name-logo::before, .b-club.c-3002 .name-logo::before {
    background-image: url(https://shikimori.one/system/clubs/main/3002.png);
}
.b-clubs-menu .clubs .b-club[id='3002']:hover .name-logo::after,
.b-clubs .b-club[id='3002']:hover .name-logo::after,
.b-club.c-3002:hover .name-logo::after
{
    background-image: url(https://i.imgur.com/7GXSvLr.jpeg);
}

/* Хранилище Шики */
.b-clubs-menu .clubs .b-club[id='3000']::before,
.b-clubs .b-club[id='3000']::before,
.b-club.c-3000::before
{
    background-image: url(https://i.imgur.com/BM1iNoH.jpeg);
}
.b-club[id='3000'] .name-logo::before, .b-club.c-3000 .name-logo::before {
    background-image: url(https://shikimori.one/system/clubs/main/3000.png);
}
.b-clubs-menu .clubs .b-club[id='3000']:hover .name-logo::after,
.b-clubs .b-club[id='3000']:hover .name-logo::after,
.b-club.c-3000:hover .name-logo::after
{
    background-image: url(https://i.imgur.com/amaWtRQ.jpeg);
}

/* Анархия */
.b-clubs-menu .clubs .b-club[id='3182']::before,
.b-clubs .b-club[id='3182']::before,
.b-club.c-3182::before
{
    background-image: url(https://nyaa.shikimori.one/system/images/original/124340.jpg);
}
.b-club[id='3182'] .name-logo::before, .b-club.c-3182 .name-logo::before {
    background-image: url(https://moe.shikimori.one/system/images/original/124342.png);
}

/* Культ Аксис */
.b-clubs-menu .clubs .b-club[id='3055']::before,
.b-clubs .b-club[id='3055']::before,
.b-club.c-3055
{
    background-image: url(https://i.imgur.com/2oTHnrE.png);
}
.b-club[id='3055'] .name-logo::before, .b-club.c-3055 .name-logo::before {
    background-image: url(https://shikimori.one/system/clubs/main/3055.png);
}
.b-clubs-menu .clubs .b-club[id='3055']:hover .name-logo::after,
.b-clubs .b-club[id='3055']:hover .name-logo::after,
.b-club.c-3055:hover .name-logo::after
{
    background-image: url(https://i.imgur.com/oDv9a4c.jpeg);
}


/* Падору */
.b-clubs-menu .clubs .b-club[id='3668']::before,
.b-clubs .b-club[id='3668']::before,
.b-club.c-3668
{
    background-image: url(https://raw.githubusercontent.com/Klamkottur/whatsauce/refs/heads/main/files/padoru.jpg);
}
.b-club[id='3668'] .name-logo::before, .b-club.c-3668 .name-logo::before {
    background-image: url(https://shikimori.one/system/clubs/main/3668.jpg);
}
.b-clubs-menu .clubs .b-club[id='3668']:hover .name-logo::after,
.b-clubs .b-club[id='3668']:hover .name-logo::after,
.b-club.c-3668:hover .name-logo::after
{
    background-image: url(https://raw.githubusercontent.com/Klamkottur/whatsauce/refs/heads/main/files/padorupreview.jpg);
}
