/* main */
.d-b {}

body { 
	background: url(https://i.imgur.com/nPT62gD.png) repeat fixed bottom; 
	background-size: cover;
}

.l-page { 
	outline: 20px solid rgba(255, 255, 255, 0.3); 
	margin-bottom: 20px; 
}

@media screen and (min-width: 1025px) { 
.l-top_menu-v2 { 
	position: sticky; 
	top: 0; 
} 
  
.l-top_menu-v2 .active .submenu { 
	max-height: calc(100vh - var(--top-menu-height)); 
	overflow-y: auto; 
}
}

/*Спойлеры*/
.b-spoiler_block > span {
	background-color: var(--headline) !important;
	color: var(--invert_main);
}

.b-spoiler_block>div {
	background-color: var(--darker_main);
	border-left: none;
	padding: 15px 0px 3px 0px;
}

/* Заголовки */

.subheadline, .midheadline, .headline {
	color: var(--headline-text);
  	background-color: var(--headline);
  	border-color: var(--main_title);
}

/* Кнопки */

.b-link_button {
	color: var(--headline-text);
  	background-color: var(--headline);
}

/* top-menu */

.l-top_menu-v2 {
	background-size: contain;
	background-color: var(--top_menu);
}

.l-top_menu-v2 .menu-dropdown>span {
	background: var(--top_menu-v2);
}

.l-top_menu-v2 .submenu {
	background: var(--top_menu-v3);
}

.l-top_menu-v2 .menu-icon.active, .l-top_menu-v2 .menu-icon:focus, .l-top_menu-v2 .menu-dropdown.active>span, .l-top_menu-v2 .menu-dropdown>span:focus {
	background-color: var(--top_menu-v3);
}

.l-top_menu-v2 .submenu>a:hover {
	background: var(--top_menu);
	color: #123;
}

.l-top_menu-v2 .menu-dropdown>span a:active {
	background-color: var(--top_menu-v3);
}

.l-top_menu-v2 .menu-dropdown>span a:hover {
	background-color: #58768f;
}
  
.l-top_menu-v2 .menu-icon:hover {
	background-color: #567fa2;
}

.l-top_menu-v2.is-search-mobile .global-search {
	background: var(--top_menu);
}

/* Описания страниц */

@media screen and (min-width: 768px) {
.cc-link >.c-column:first-child {
	width: 20%;
}

.cc-link >.c-column:last-child:not(:first-child) {
	width: 76%;
}
}

@media screen and (max-width: 767px) {
.halfposter {
  	width: 30%;
}
}

.halfposter img {
	border: 1px var(--main_title) solid;
	border-radius: 5px;
}

/* Скрытие раздела топиков */

.p-clubs-show > .l-page > div > .menu-slide-outer > .menu-slide-inner > .l-content > div:nth-child(4) {
	display: none;
}

/*отображение старых топиков*/

.b-topic-preview[id="321097"] .body img, .b-topic-preview[id="321097"] .b-comments,
.b-topic-preview[id="321321"] .body img, .b-topic-preview[id="321321"] .b-comments {
	display: none;
}

.b-topic-preview[id="321097"] .body span,
.b-topic-preview[id="321321"] .body span {
	font-size: 13px !important;
}

/*блок комментов старых топиков*/

.b-topic[id="321321"] .editor-container input[type="submit"] {
	display: none; 
}

.b-topic[id="321097"] .editor-container input[type="submit"] {
	display: none; 
}

/*oshibki*/
.b-feedback {
	visibility: hidden;
}

/* для тех, кто без стилей */
.see-our-club-with-styles-pls {
	display: none;
}

/* кнопки в угадайке */

.n-pages {
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 2px 15px 2px 16px;
	color: var(--invert_main);
	background-color: var(--headline);
}

/* newsblock */

.b-quote.newsblock {
	background: var(--newsblock);
	border: 1px silver solid;
	font-style: normal;
}

/* u-tabs */
@media (min-width: 960px){
.vertical-tab .u-tabs.--vertical {
	display:flex;
	border: none;
	border-radius: 3px;
}

.vertical-tab .u-tabs.--vertical>div:not([data-tab]) {
	flex-direction:column;
	flex-shrink:0;
	width:200px;
	text-align: right;
}

.vertical-tab .u-tabs.--vertical [data-tab-switch] {
	padding:8px 16px;
	margin:0;
	border:0;
	border-radius:0;
	text-align:right;
}

.vertical-tab .u-tabs.--vertical [data-tab] {
	flex-grow:1;
	padding: 9px 12px;
	border: 1px silver solid;
	background: var(--newsblock);
}

.vertical-tab .u-tabs [data-tab-switch]:hover {
	border-bottom: none !important;
	border-right: 6px var(--main_title) solid;
}

.vertical-tab .u-tabs [data-tab-switch]:active {
	background: var(--top_menu);
	border-color: var(--main_title);
	border-bottom: none !important;
	border-right: 6px var(--main_title) solid;
}

.vertical-tab .u-tabs [data-tab-switch].active {
	background: var(--headline);
	border-bottom: none !important;
	border-right: 6px var(--main_title) solid;
}
  
.vertical-tab .u-tabs [data-tab-switch]:nth-child(3) {
	margin-bottom: 20px;
}
}

.vertical-tab .u-tabs>div:not([data-tab]) {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	overflow-y:auto
}

.vertical-tab .u-tabs [data-tab-switch] {
	display:block;
	flex-shrink:0;
	min-width:148px;
	padding:4px 14px;
	margin:8px;
	border-bottom:2px solid var(--top_menu);
	color: var(--invert_main);
	font-weight:bold;
	line-height:24px;
	text-align:center;
	cursor:pointer;
	transition:.24s ease;
	user-select:none;
}

.vertical-tab .u-tabs.--ripple [data-tab-switch] {
	position:relative;
	overflow:hidden;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	background: none;
}

.vertical-tab .u-tabs [data-tab-switch]:hover {
	background: var(--tab_hover);
	border-bottom: 4px var(--main_title) solid;
}

.vertical-tab .u-tabs [data-tab-switch]:active {
	background: var(--headline);
	border-bottom: 4px var(--main_title) solid;
}

.vertical-tab .u-tabs [data-tab-switch].active {
	background: var(--headline);
	color: var(--invert_main);
	cursor:default;
	border-bottom: 4px var(--main_title) solid;
}

.vertical-tab .u-tabs [data-tab] {
	padding:12px 8px;
}

.vertical-tab .u-tabs.--ripple [data-tab-switch]::after {
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	width:72%;
	padding-top:72%;
	background:inherit;
	border-radius:50%;
	opacity:0;
	transform:translate3d(-50%, -50%, 0);
	pointer-events:none
}

.vertical-tab .u-tabs.--ripple [data-tab-switch]:not(.active):hover::after {
	animation:1s switch-focus--vertical ease infinite
}

.vertical-tab .u-tabs.--ripple [data-tab-switch].active::after {
	animation:switch-tap--vertical 0.24s cubic-bezier(0.55, 0.06, 0.68, 0.19)
}

@keyframes switch-focus--vertical{
0%,100% {
	opacity:.8;
	transform:translate3d(-50%, -50%, 0)
}

50% {
	opacity:.8;
	transform:translate3d(-50%, -50%, 0) scale(0.95)
}
}

@keyframes switch-tap--vertical{
0%{
	opacity:.8
}

100%{
	opacity:0;
	transform:translate3d(-50%, -50%, 0) scale(2.5)
}
}

/* Админы */

.b-clubs-menu .admin .b-user {
	clear: both;
	display: block;
	float: none;
	width: auto;
	padding: 0;
	margin: 0 !important;
	border-radius: 4px;
}

.b-clubs-menu .admin .b-user:last-child {
	margin: 0 0 15px !important;
}

.b-clubs-menu .admin .b-user:hover {
	background: rgba(221, 221, 221, .5);
}

.b-clubs-menu .admin .b-user .avatar {
	float: left;
	width: auto;
	margin: 0 !important;
	padding: 8px 15px 8px 8px;
}

.b-clubs-menu .admin .b-user .avatar img {
	width: 40px;
}

.b-clubs-menu .admin .b-user .name {
	display: block;
	max-width: 100%;
	padding: 8px 0;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.b-clubs-menu .admin .b-user .name::after {
	content: '?';
	display: block;
	color: gray;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.35;
}

.b-clubs-menu .admin .b-user:hover .name, .b-clubs-menu .admin .b-user .name:hover {
	text-decoration: none;
}

.b-clubs-menu .admin .b-user[id='626523'] .name::after {
	content: 'Мангуст';
}

.b-clubs-menu .admin .b-user[id='583040'] .name::after {
	content: 'Кот';
}

.b-clubs-menu .admin .b-user[id='716850'] .name::after {
	content: 'Парень-никто';
}

/* архив картиночек */
.line .b-tag:hover {
	color: #d35e00;
	text-shadow: crimson 0 0 1px;
	cursor: pointer;
}
