/* Роли */

/* Подсказка */
.b-comment header a.name:hover:after
{
	position: absolute;
	content: none;
	font-size: 11px;
	padding: 4px 10px 4px 10px;
	margin-top: -2px;
	text-align: center;
	margin-left: 6px;
	color: white;
	background: rgba(0,0,0,0.8) !important;
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
	z-index: 1;
	white-space: pre;
	text-align: left;
}

/* Админы 
-- Klamkottur 583040
-- _Rikki_ 626523
-- _Eve-Lover_ 716850
*/

/* Klamkottur 583040 */
.b-comment[data-user_id="583040"]:not(.tooltipped) header a.name:hover:after {
	content: "Порнокошка\0a\0aАдмин клуба ー Знаток №1";
}
.b-comment[data-user_id="583040"]:not(.tooltipped) header a.name, .b-user[id="583040"] a.name, .b-user16>img[src*="583040.png"]+span {
    color: crimson !important;
}

/* _Rikki_ 626523 */
.b-comment[data-user_id="626523"]:not(.tooltipped) header a.name:hover:after {
	content: "Наизлобнейший сёта-мангуст\0a\0aАдмин клуба";
}
.b-comment[data-user_id="626523"]:not(.tooltipped) header a.name, .b-user[id="626523"] a.name, .b-user16>img[src*="626523.png"]+span {
    color: crimson !important;
}

/* _Eve-Lover_ 716850 */
.b-comment[data-user_id="716850"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Парень-никто\0a\0aАдмин клуба";
}
.b-comment[data-user_id="716850"]:not(.tooltipped) header a.name, .b-user[id="716850"] a.name, .b-user16>img[src*="716850.png"]+span {
    color: crimson !important;
}

/* Бывший админ
-- SeppuKun 844199
*/

/* SeppuKun 844199 */
.b-comment[data-user_id="844199"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Камикадзе\0a\0aБывший админ клуба";
}
.b-comment[data-user_id="844199"]:not(.tooltipped) header a.name, .b-user[id="844199"] a.name, .b-user16>img[src*="844199.png"]+span {
    color: #590818 !important;
}

/* Личный цвет 
-- Хорнизавр 368465
-- Иероглиф-тян 464837
-- Лолитрап 81056
-- Аква-сама 451492
-- kvaxion 163912 
*/

/* Хорнизавр 368465 */
.b-comment[data-user_id="368465"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Хорнизавр-пропаданец\0a\0aЗнаток №2 ー Авантюрист 8 ранга: Стальной\0aТретий рыцарь бездны";
}
.b-comment[data-user_id="368465"]:not(.tooltipped) header a.name, .b-user[id="368465"] a.name, .b-user16>img[src*="368465.png"]+span
{
	color: #d000be !important; 
}

/* Иероглиф-тян 464837 */
.b-comment[data-user_id="464837"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Пессимист\0a\0aЗнаток №2 ー Авантюрист 9 ранга: Обсидиановый";
}
.b-comment[data-user_id="464837"]:not(.tooltipped) header a.name, .b-user[id="464837"] a.name, .b-user16>img[src*="464837.png"]+span
{
	color: #777 !important; 
}

/* Лолитрап 81056 */
.b-comment[data-user_id="81056"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Лоли-трап\0a\0aАвантюрист 8 ранга: Стальной";
}
.b-comment[data-user_id="81056"]:not(.tooltipped) header a.name, .b-user[id="81056"] a.name, .b-user16>img[src*="81056.png"]+span
{
	color: #9400D3 !important; 
}

/* Аква-сама 451492 */
.b-comment[data-user_id="451492"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Богиня воды";
	color: deepskyblue;
}
.b-comment[data-user_id="451492"]:not(.tooltipped) header a.name, .b-user[id="451492"] a.name, .b-user16>img[src*="451492.png"]+span {
    color: blue;
}

/* kvaxion 163912 */
.b-comment[data-user_id="163912"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Квас\0a\0aАвантюрист 9 ранга: Обсидиановый\0aВторой рыцарь бездны";
}
.b-comment[data-user_id="163912"]:not(.tooltipped) header a.name, .b-user[id="163912"] a.name, .b-user16>img[src*="163912.png"]+span {
    color: #630003;
}

/* Топ-3 Авантюристы без личного цвета 
-- tikhoplet 323591
-- fullmetal 126157
-- Хомяк 277054
-- World_Houp 34807
*/

/* tikhoplet 323591 */
.b-comment[data-user_id="323591"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Авантюрист №2 (Ранг 7: Сапфировый)";
}
.b-comment[data-user_id="323591"]:not(.tooltipped) header a.name, .b-user[id="323591"] a.name, .b-user16>img[src*="323591.png"]+span {
    color: #00aa11;
}

/*fullmetal 126157*/
.b-comment[data-user_id="126157"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Авантюрист 8 ранга: Стальной";
}
.b-comment[data-user_id="126157"]:not(.tooltipped) header a.name, .b-user[id="126157"] a.name, .b-user16>img[src*="126157.png"]+span {
    color: #00aa11;
}

/* Хомяк 277054 */
.b-comment[data-user_id="277054"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Хомяк.\0a\0aАвантюрист №3 (Ранг 7: Сапфировый)";
}
.b-comment[data-user_id="277054"]:not(.tooltipped) header a.name, .b-user[id="277054"] a.name, .b-user16>img[src*="277054.png"]+span {
    color: #00aa11;
}

/* World_Houp 34807 */
.b-comment[data-user_id="34807"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Лунная призма, дай мне топ-1!\0a\0aАвантюрист №1 (Ранг 6: Изумрудный)\0aПервый рыцарь бездны";
}
.b-comment[data-user_id="34807"]:not(.tooltipped) header a.name, .b-user[id="34807"] a.name, .b-user16>img[src*="34807.png"]+span {
    color: #00aa11;
}

/* Без цвета
-- Daisuke Kanbe 753419
-- Leyka 429284
-- Pixl 213997
-- MaDDanieL 563020
-- Dr.GK 558352
-- Daria Aki 78160
*/

/* Daisuke Kanbe 753419 */
.b-comment[data-user_id="753419"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Авантюрист 9 ранга: Обсидиановый";
}

/* Leyka 429284 */
.b-comment[data-user_id="429284"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Авантюрист 10 ранга: Фарфоровый";
}

/* Pixl 213997 */
.b-comment[data-user_id="213997"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Григорий на льду\0a\0aАвантюрист 10 ранга: Фарфоровый";
}

/* MaDDanieL 563020 */
.b-comment[data-user_id="563020"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Глава культа Аксис, ворвавшийся в топ с ноги\0a\0aАвантюрист 10 ранга: Фарфоровый";
}

/* Dr.GK 558352 */
.b-comment[data-user_id="558352"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Мастер кисок";
}

/* Daria Aki 78160 */
.b-comment[data-user_id="78160"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Кусезависимая";
}
